@model IEnumerable<JUCBA.Core.ViewModels.RoleViewModels.RoleClaimsViewModel>

@{
    ViewBag.Title = "RoleClaims";
}

<h2>Role And Claims</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>Allowed Actions</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @foreach (var claim in item.RoleClaims)
                {
                
                    <li>
                        @Html.DisplayFor(x => claim.Name)
                    </li>
                
                }
            </td>
            <td>
                @Html.ActionLink(" Edit", "Edit", new { id=item.RoleId }, new {@class="btn btn-sm btn-primary"})  
                @Html.ActionLink("Details", "Details", new { id=item.RoleId }, new {@class="btn btn-sm btn-success"})
                @Html.ActionLink("Delete", "Delete", new { id=item.RoleId }, new {@class="btn btn-sm btn-danger"})
            </td>
        </tr>
    }
</tbody>

</table>
